*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    background: #f1f1f1;
    padding-top: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#owner{
    height: 15%;
    width: 100%;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#owner h3{
    font-size: 1.5em;
    font-weight: 500;
}
#container{
    margin: 15vh 22vw;
}
input{
    width: 100%;
    padding: 1.7vh 2vw;
    margin-bottom: 5vh;
    font-size: 3.5vh;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #e2d8d8;
    outline-color: rgba(71, 212, 255, 0.534);
}
.characters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}
.char{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
}
.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 500px) {
    input{
        font-size: 0.7em;
    }
    #owner h3{
        font-size: 1em;
        font-weight: 500;
    }
    #container{
        height: 70%;
        width: 95%;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .char{
        margin: 0.5em 0.5em;
    }
    .char h3{
        font-size: 1em;
    }
    .img{
        height: 17vw;
        width: 17vw;
        border-radius: 1.5px solid black;
    }
}
@media (min-width: 500px) {
    .char:hover{
        transform: scale(1.1);
        transition: transform 0.4s ease;
    }
}